/* Global Styles */
img {
    display: block;
    margin: 0 auto;
    width: 100%;
    box-shadow: 2px 2px 30px white;
}

body {
    background: linear-gradient(rgb(0, 140, 255), lightskyblue, white)
}

#container {
    background-color: rgba(213, 43, 255, 0.753);
    padding: 20px;
    border-radius: 50px;
}

h1,
h2,
h3 {
    text-align: center;
    font-family: "Protest Strike", sans-serif;
    color: white;
    text-shadow: 2px 2px 10px rgb(16, 110, 252);
}

a {
    font-family: "Protest Strike", sans-serif;
    color: white;
}

a:hover {
    color: black;
    text-decoration: none;
}

#gamemodes {
    display: flex;
}

.gamemode {
    margin: 10px;
}

.gamemode img {
    width: 100%;
}

/* Mobile Styles */
nav {
    background-color: rgba(34, 34, 34, 0.904);
    padding: 10px;
    border-radius: 10px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: block;
}

nav li a {
    display: block;
    height: 30px;
    line-height: 30px;
    color: white;
    background-color: rgb(44, 44, 44);
    text-align: center;
    margin: 5px 0;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 10px;
}

nav li a:hover {
    background-color: white;
}

header h1 {
    font-size: 55px;
    color: white;
}

main {
    border: 2px solid white;
    padding: 10px;
    margin: 10px 0;
}

#lower {
    border: 2px solid white;
}

.col {
    border: 2px solid white;
    margin: 10px;
    padding: 10px;
}

footer {
    padding: 40px 0;
    text-align: center;
}

.button {
    display: block;
    margin: 10px auto;
    text-align: center;
    background-color: rgb(34, 34, 34);
    width: 125px;
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    border: 2px solid white;
    border-radius: 20px;
}

.button:hover {
    color: white;
}

/* Tablet Styles */

@media(min-width: 786px) {
    nav {
        text-align: center;
    }

    nav li {
        display: inline-block;
    }

    nav li a {
        width: 200px;
    }

    main img {
        width: 50%;
    }

    #lower {
        width: 75%;
        margin: 0 auto;
    }

    .col img {
        width: 75%;
    }


}

/* Desktop Styles */

@media (min-width: 1024px) {
    #container {
        width: 65%;
        margin: 20px auto;
    }

    #lower {
        width: 100%;
        display: flex;
    }

    .col {
        width: 33.33%;
    }
}